<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- Latest compiled and minified Bootstrap CSS -->
      <meta charset="utf-8">
      <title>Buy Fashion</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" type="text/css" href="/css/bestGadget.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
         crossorigin="anonymous"></script>
      <script src="/js/buyGadget.js"></script>
      <script src='https://maps.googleapis.com/maps/api/js?v=3.exp'></script>
      <link rel="shortcut icon" href="/images/images.png" title="Buy Fashion">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
         crossorigin="anonymous">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link href="https://afeld.github.io/emoji-css/emoji.css" rel="stylesheet">
   </head>
   <header>
      <nav class="navbar navbar-expand-lg bg-light navbar-sticky navbar-airy navbar-light bg-hover-white bg-fixed-white navbar-hover-light navbar-fixed-light">
         <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
               aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="/"> <img class="img-fluid" src="/images/logo.jpg" alt="logo" style="width: 50px; height;50px;"></a>
            <div class="collapse navbar-collapse" id="nav-content">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item pl-5 active" style="font-size:20px">
                     <a class="nav-link" href="/">Home</a>
                  </li>
                  <li class="nav-item pl-5" style="font-size:20px">
                     <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Men</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Clothing</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link  " href="/categoryLanding/Shirt">Shirts</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/Tshirt">T shirts</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/Jeans">Jeans</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Footwear</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/MenShoes">Shoes</a>
                                    </li>
                                    {{!-- <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/HeadPhones">Headphones & Headsets</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/powerBanks">Power Banks</a>
                                    </li> --}}
                                 </ul>
                              </div>
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Fashion</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/Menaccessories">Accessories</a>
                                    </li>
                                    {{!-- <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Pendrive">Pendrives</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Keyboard">Keyboards</a>
                                    </li> --}}
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                     
                  </li> 
                  <!--changes to the new style drop-->
                  <li class="nav-item pl-5" style="font-size:20px">
                     <a class="nav-link dropdown-toggle " href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Women</a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div class="container">
                           <div class="row">
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Clothing</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link  " href="/categoryLanding/Tops">Tops</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/Dresses">Dresses</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link " href="/categoryLanding/WomenJeans">Jeans</a>
                                    </li>
                                 </ul>
                              </div>
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Footwear</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link  " href="/categoryLanding/WomenShoes">Shoes</a>
                                    </li>
                                    {{!-- <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Dell">Dell</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Bose">Bose</a>
                                    </li> --}}
                                 </ul>
                              </div>
                              <div class="col-md-2">
                                 <span class="text-uppercase ">Fashion</span>
                                 <ul class="nav flex-column">
                                    <li class="nav-item">
                                       <a class="nav-link  " href="/categoryLanding/Womenaccessories">Accessories</a>
                                    </li>
                                    {{!-- <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Lenovo">Lenovo</a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link text-white" href="/categoryLanding/Hp">Hp</a>
                                    </li> --}}
                                 </ul>
                              </div>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="nav-item pl-5" style="font-size:20px">
                     <a class="nav-link" href="/services">Services</a>
                  </li>
                  <li class="nav-item pl-5 " style="font-size:20px">
                     {{#if user}}
                     <a class="nav-link text-white userName"> Hello {{#each user}} {{this.username}} {{/each}}</a>
                     {{/if}}
                  </li>
               </ul>
               <ul class="navbar-nav ml-auto pl-5">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false"> <i class="fa fa-user-circle-o" style="font-size:20px"></i></a>
                     <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {{#if user}}
                        <button class="dropdown-item text-uppercase  btn btn-secondary" type="button" onclick="location.href='/logout'">Logout</button>
                        {{else}}
                        <button class="dropdown-item text-uppercase  btn btn-secondary" type="button" onclick="location.href='/login'">Login</button>
                        <button class="dropdown-item text-uppercase  btn btn-secondary" type="button" onclick="location.href='/register'">Register</button>
                        {{/if}}
                     </div>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/cart"> <i class="fa fa-shopping-cart" style="font-size:20px"></i>
                     <span class="badge badge-light">{{ session.cart.totalQty }}</span>
                     </a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
   </header>
   <body>
      {{{body}}}
      <footer class="footer">
         <div class="container bottom_border">
            <div class="row divider">
               <div class=" col-sm-4 col-md  col-6 col">
                  <h5 class="col_white_footermain pt2">ABOUT</h5>
                  <ul class="footer_ul_align">
                     <li><a href="/contact">Contact Us</a></li>
                     <li><a href="/aboutus">About Us</a></li>
                     <li><a href="/careers">Careers</a></li>
                  </ul>
               </div>
               <div class=" col-sm-4 col-md  col-6 col">
                  <h5 class="col_white_footermain pt2">HELP</h5>
                  <ul class="footer_ul_align">
                     <li><a href="/payments">Payments</a></li>
                     <li><a href="/shipping">Shipping</a></li>
                     <li><a href="/cancellation">Cancellation & Returns</a></li>
                     <li><a href="/faq">FAQ</a></li>
                  </ul>
               </div>
               <div class=" col-sm-4 col-md  col-6 col">
                  <h5 class="col_white_footermain pt2">POLICY</h5>
                  <ul class="footer_ul_align">
                     <li><a href="/return">Return Policy</a></li>
                     <li><a href="/terms">Terms Of Use</a></li>
                     <li><a href="/security">Security</a></li>
                     <li><a href="/privacy">Privacy</a></li>
                  </ul>
               </div>
               <div class=" col-sm-4 col-md  col-12 col">
                  <h5 class="col_white_footermain pt2">Mail Us</h5>
                  <ul class="footer_ul_align">
                     <li>
                        <a href="mailto:kratikacd@gmail.com"><i class="fa fa fa-envelope fleft padding-right"></i> </a>
                        <p>
                           360 Huntington Avenue
                           Boston,
                           Massachusetts, MA-02115
                           Telephone:<a href="tel:(857)-707-6940"> (857)-707-6940</a>
                        </p>
                     </li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="container">
            <ul class="foote_bottom_ul_align">
               <li><a href="/">Home</a></li>
               <li><a href="/aboutus">About</a></li>
               <li><a href="/services">Services</a></li>
               <li><a href="/contact">Contact</a></li>
            </ul>
            <p class="text-center">Copyright @2020 MyF@shion </p>
            <ul class="social_footer_ul">
               <li><a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook"></i></a></li>
               <li><a href="https://twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="https://www.linkedin.com" target="_blank"><i class="fa fa-linkedin"></i></a></li>
               <li><a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
         </div>
      </footer>
   </body>
   <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous"></script>
   <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
      crossorigin="anonymous"></script>
   <!-- Initialize Bootstrap functionality -->
   <script>
      // Initialize tooltip component
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
      
      // Initialize popover component
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
   </script>
</html>