<body style="background-image: url('images/background/Homedecor1.jpg'); background-size: cover">
   <div class="container-fluid" id="wrapper">
      <h2>About Us</h2>
      <p>
      <h6>Buying? Fashion, Buy from My Fashion!</h6>
      My Fashion is the leading tech-focused e-retailer in North America, with a global reach into more than 50 countries
      in Europe, Asia Pacific, Latin America and the Middle East. Founded in 2001, the company offers its tens of
      millions of registered users a comprehensive selection of the latest consumer electronics, entertainment, smart
      home and gaming products. My Fashion is consistently ranked as one of the best online shopping destinations, and
      the company regularly earns industry-leading customer service ratings. My Fashion is headquartered in City of
      Growth, Massachusetts, with North American distribution facilities located throughout the United States and Canada.
      </p>
      <p>
      <h6>Why My Fashion?</h6>
      My Fashion offers competitive pricing on its unparalleled product selection, with a firm commitment to on-time
      order fulfillment. We empower customers to make the best purchasing decisions by offering detailed product
      information, peer reviews, expert opinions, product tutorials and the opportunity to network with other members of
      the My Fashion community. Customer satisfaction is My Fashion's top priority, achieved by delivering superior
      service with our ever-present philosophy of putting the customer first.
      </p>
      <p>
      <h6>Rewards and Recognition:</h6>
      Being honored with a couple of prestigious accolades in the e-commerce power house, we have left no stone unturned
      in revolutionizing the Fashion industry. It has been My Fashion constant endeavor to perform innovatively
      and serve our valuable customers who complete the My Fashipn family.
      </p>
      <p>
      <h6>Roots of My Fashion :</h6>
      My Fashion was found to bring a new standard of quality and services for online commercial shopping. From the
      inception, we have established ourselves in such a way where we can offer the best pricing, integrated dealing,
      finer quality and service. We are a fast growing online retailing firm with a proven track record of delivering the
      best solutions to our customers and have a penchant for consistently updating our services matching with advancing
      era.
      </p>
   </div>
</body>