<div class="container-fluid" style="padding-left: 5%; padding-right:5%">
   <h2>CANCELLATIONS</h2>
   <ul style="list-style: none" >
      <li>
         <h6 class="cd-faq-trigger">If I request for a replacement, when will I get it?</h6>
         <div class="cd-faq-content">
            <p>Visit My Orders to check the status of your replacement.</p>
            <p>In most locations, the replacement item is delivered to you at the time of pick-up. In all other
               areas, the replacement is initiated after the originally delivered item is picked up. Please check
               the SMS & email we send you for your replacement request for more details.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Which products are not eligible for returns?</h6>
         <div class="cd-faq-content">
            <p>
               The following table contains a list of products that are not eligible for returns as per the seller’s Returns Policy:
            <table border="5px">
               <tr>
                  <th>Category</th>
                  <th>Products that cant be returned</th>
               </tr>
               <tr>
                  <td>Computer Accessories</td>
                  <td>Blank/Educational Media, CDs/DVDs, Ink Toners, Music, Movies and Software</td>
               </tr>
            </table>
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Can items be returned after the time period mentioned in the seller's Returns Policy?</h6>
         <div class="cd-faq-content">
            <p>
               No, sellers will not be able to accept returns after the time period mentioned in the seller's Returns Policy.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Do I have to return the freebie when I return a product?</h6>
         <div class="cd-faq-content">
            <p>Yes, the freebie has to be returned along with the product.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">How do returns work?</h6>
         <div class="cd-faq-content">
            <p>
               You can raise a request to return your items with these simple steps:
            </p>
            <ol>
               <li>Log into your MyFashion account</li>
               <li>Go to My Orders</li>
               <li>Click on 'Return' against the item you wish to return or exchange</li>
               <li>Fill in the details and raise a return request</li>
            </ol>
            <p>Once you raise a request, you'll get an email and SMS confirming that your request is being processed. Based on the item, your request may be automatically approved or you may be contacted for more details. If the request is approved, the item will be picked up after which you will get a replacement or refund. You can also track the status of your return request instantly from the 'My Orders' section of your BestGadgets account.</p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">I see the 'Cancel' button but I can't click on it. Why?</h6>
         <div class="cd-faq-content">
            <p>
               A greyed out and disabled 'Cancel' button can mean any one of the following:
            </p>
            <ol>
      <li>The item has been delivered already</li>
      OR
      <li>The item is non-refundable (e.g. Gift Card)</li>
   </ul>
   </p>
   </div>
   </li>
   </ul>
</div>