<div class="container-fluid">
   <br>
   <p>
      <i><b>My Fashion is led by team of professionals who work SMART, are imaginative and strive to achieve and deliver
      nothing but the best.</b></i>
      <br><br>
      Our philosophy is embedded in encouraging employee empowerment, growth and development of individuals by
      realizing their potential with out of the box ideas.
      <br><br>
      We are always interested in speaking with people who have fire in the belly and have following traits:
      <br>
      People who are curious, creative, enthusiastic and possess common sense.
      People with hunger, and willing to learn every day.
      People who love challenges and are good team players.
      Most importantly we expect you to have a 'good sense of HUMOUR'
   </p>
   If you have it all, drop in your C.V. with current salary details at <a href="mailto:kratikacd@gmail.com">hr@myfashion.com</a> and we will get back to you
   shortly.
   <br><br>
   POSITIONS WE ARE HIRING FOR:
   <ul>
      <li>CUSTOMER CARE EXECUTIVE</li>
      <li>ANDROID DEVELOPER</li>
      <li>UI DEVELOPER</li>
      <li>SOURCING SPECIALIST</li>
      <li>CODER / DEVELOPER</li>
      <li>COPYWRITER</li>
      <li>DIGITAL MARKETING MANAGER / ASSISTANT MANAGER</li>
      <li>GRAPHIC DESIGNER</li>
   </ul>
</div>