<div class="container-fluid" style="padding-left: 5%; padding-right:5;">
   <h2>FAQ</h2>
   <ul style="list-style: none;">
      <li>
         <h6 class="cd-faq-trigger">Why do I see different prices for the same product?</h6>
         <div class="cd-faq-content">
            <p>You could see different prices for the same product, as it could be listed by many Sellers.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Is installation offered for all products?</h6>
         <div class="cd-faq-content">
            <p>
               Installation and demo are offered for certain items by sellers through the brand or an authorised
               service provider. Please check the individual product page to see if these services are offered for
               the item.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Is it necessary to have an account to shop on MyFashion?</h6>
         <div class="cd-faq-content">
            <p>
               Yes, it's necessary to log into your MyFashion account to shop. Shopping as a logged-in user is fast
               & convenient and also provides extra security.
            </p>
            <p>
               You'll have access to a personalised shopping experience including recommendations and quicker
               check-out.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">What does 'Preorder' or 'Forthcoming' mean?</h6>
         <div class="cd-faq-content">
            <p>Items marked as 'Preorder' or 'Forthcoming' are expected to be released soon and you can pre-book
               them with sellers. Such items will be shipped after their official release by the seller with whom
               you've pre-booked them.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Do sellers on MyFashion ship internationally?</h6>
         <div class="cd-faq-content">
            <p>
               Currently, sellers on MyFashion only ship within India.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Can I use an item that has been given to me as a gift from a state sponsored or
            an NGO-funded freebie distribution programme to get discounts through exchange offers?
         </h6>
         <div class="cd-faq-content">
            <p>
               No, as per company policy, such items are not eligible for discounts under exchange offers. You can
               also refer to the 'Exchange Offers' section in the 'Terms of Use' page for more details.
            </p>
         </div>
      </li>
   </ul>
</div>