<section class="hero">
   <div class="container">
      <div class="hero-content pb-5 text-center">
         <h1 class="hero-heading">Order Confirmation</h1>
         {{!-- <div id="message"></div> --}}
         <div id="success" class="alert alert-success" {{# if noMessage }}hidden{{/if}} >
         {{ successMsg }} <i class="em em-smiley"></i>
      </div>
   </div>
   </div>
</section>
<section>