<div class="container-fluid" style="padding-left: 5%; padding-right:5%">
<h2>PAYMENTS</h2>
<ul style="list-style: none">
   <li>
      <h6 class="cd-faq-trigger">How do I pay for a BestGadget purchase?</h6>
      <div class="cd-faq-content">
         <p>
            BestGadget offers you multiple payment methods. Whatever your online mode of payment, you can rest
            assured that
            BestGadget's trusted payment gateway partners use secure encryption technology to keep your
            transaction details
            confidential at all times.
         </p>
         <p>
            You may use Internet Banking, Gift Card, Cash on Delivery and Wallet to make your purchase.
         </p>
         <p>
            BestGadget also accepts payments made using Visa, MasterCard, Maestro and American Express
            credit/debit cards
            in USA and 21 other countries.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">Are there any hidden charges (Sales Tax) when I make a purchase on BestGadget?</h6>
      <div class="cd-faq-content">
         <p>
            There are NO hidden charges when you make a purchase on BestGadget. The prices listed for all the
            items are
            final
            and all-inclusive. The price you see on the product page is exactly what you pay.
         </p>
         <p>
            Delivery charges may be extra depending on the seller policy. Please check individual seller for
            the same.
            In
            case of seller WS Retail, the $10 delivery charge is waived off on orders worth $50 and over.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">What is Cash on Delivery?</h6>
      <div class="cd-faq-content">
         <p>
            If you are not comfortable making an online payment on BestGadget.com, you can opt for the Cash on
            Delivery
            (C-o-D) payment method instead. With C-o-D you can pay in cash at the time of actual delivery of
            the
            product at
            your doorstep, without requiring you to make any advance payment online.
         </p>
         <p>
            The maximum order value for a Cash on Delivery (C-o-D) payment is $2,000. It is strictly a
            cash-only
            payment
            method. Gift Cards or store credit cannot be used for C-o-D orders. Foreign currency cannot be used
            to make
            a
            C-o-D payment. Only US Dollars accepted.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">How do I pay using a credit/debit card?</h6>
      <div class="cd-faq-content">
         <p>We accept payments made by credit/debit cards issued in US and 21 other countries.</p>
         <br>
         <i><b>Credit cards</b></i>
         <br>
         <p>
            We accept payments made using Visa, MasterCard and American Express credit cards.
         </p>
         <p>
            To pay using your credit card at checkout, you will need your card number, expiry date, three-digit
            CVV
            number
            (found on the backside of your card). After entering these details, you will be redirected to the
            bank's
            page
            for entering the online 3D Secure password.
         </p>
         <br>
         <p>
            <i><b>Debit cards</b></i>
         </p>
         <p>
            We accept payments made using Visa, MasterCard and Maestro debit cards.
         </p>
         <p>
            To pay using your debit card at checkout, you will need your card number, expiry date (optional for
            Maestro
            cards), three-digit CVV number (optional for Maestro cards). You will then be redirected to your
            bank's
            secure
            page for entering your online password (issued by your bank) to complete the payment.
         </p>
         <p>
            Internationally issued credit/debit cards cannot be used for Flyte, Wallet and eGV
            payments/top-ups.
         </p>
         <p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">Is it safe to use my credit/debit card on BestGadget?</h6>
      <div class="cd-faq-content">
         <p>
            Your online transaction on BestGadget is secure with the highest levels of transaction security
            currently
            available on the Internet. BestGadget uses 256-bit encryption technology to protect your card
            information
            while
            securely transmitting it to the respective banks for payment processing.
         </p>
         <p>
            All credit card and debit card payments on BestGadget are processed through secure and trusted
            payment
            gateways
            managed by leading banks. Banks now use the 3D Secure password service for online transactions,
            providing
            an
            additional layer of security through identity verification.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">What steps does BestGadget take to prevent card fraud?</h6>
      <div class="cd-faq-content">
         <p>
            BestGadget realizes the importance of a strong fraud detection and resolution capability. We and
            our online
            payments partners monitor transactions continuously for suspicious activity and flag potentially
            fraudulent
            transactions for manual verification by our team.
         </p>
         <p>
            In the rarest of rare cases, when our team is unable to rule out the possibility of fraud
            categorically,
            the
            transaction is kept on hold, and the customer is requested to provide identity documents. The ID
            documents
            help
            us ensure that the purchases were indeed made by a genuine card holder. We apologise for any
            inconvenience
            that
            may be caused to customers and request them to bear with us in the larger interest of ensuring a
            safe and
            secure environment for online transactions.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">What is a 3D Secure password?</h6>
      <div class="cd-faq-content">
         <p>
            The 3D Secure password is implemented by VISA and MasterCard in partnership with card issuing banks
            under
            the
            "Verified by VISA" and "Mastercard SecureCode" services, respectively.
         </p>
         <p>
            The 3D Secure password adds an additional layer of security through identity verification for your
            online
            credit/debit card transactions. This password, which is created by you, is known only to you. This
            ensures
            that
            only you can use your card for online purchases.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">Can I use my bank's Internet Banking feature to make a payment?</h6>
      <div class="cd-faq-content">
         <p>
            Yes. BestGadget offers you the convenience of using your bank's Internet Banking service to make a
            payment
            towards your order. With this you can directly transfer funds from your bank account, while
            conducting a
            highly
            secure transaction.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">Can I make a credit/debit card or Internet Banking payment on BestGadget through
         my
         mobile?
      </h6>
      <div class="cd-faq-content">
         <p>
            Yes, you can make credit card payments through the BestGadget mobile site and application.
            BestGadget uses
            256-bit
            encryption technology to protect your card information while securely transmitting it to the secure
            and
            trusted
            payment gateways managed by leading banks.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">How does 'Instant Cashback' work?</h6>
      <div class="cd-faq-content">
         <p></p>
         The 'Cashback' offer is instant and exclusive to BestGadget.com. You only pay the final price you see
         in your
         shopping cart.
         </p>
      </div>
   </li>
   <li>
      <h6 class="cd-faq-trigger">How do I place a Cash on Delivery (C-o-D) order?</h6>
      <div class="cd-faq-content">
         <p>
            All items that have the "Cash on Delivery Available" icon are valid for order by Cash on Delivery.
         </p>
         <p>
            Add the item(s) to your cart and proceed to checkout. When prompted to choose a payment option,
            select "Pay
            By
            Cash on Delivery". Enter the CAPTCHA text as shown, for validation.
         </p>
         <p>
            Once verified and confirmed, your order will be processed for shipment in the time specified, from
            the date
            of
            confirmation. You will be required to make a cash-only payment to our courier partner at the time
            of
            delivery
            of your order to complete the payment.
         </p>
         <p>
            Terms & Conditions:
         <ul>
            <li>The maximum order value for C-o-D is ₹50,000</li>
            <li>Gift Cards or Store Credit cannot be used for C-o-D orders</li>
            <li>Cash-only payment at the time of delivery.</li>
         </ul>
         </p>
</ul>
</div>