<body style="background-image: url('images/background/Homedecor1.jpg'); background-size: cover">
   <div class="container">
      <div class="row">
         <div class="col-lg-10 col-xl-9 mx-auto">
            <div class="card card-signin flex-row my-5">
               <div class="card-img-left d-none d-md-flex">
               </div>
               <div class="card-body">
                  <h5 class="card-title text-center">Register</h5>
                  {{#if user}}
                  <div class="alert alert-danger">Username has taken already try new</div>
                  {{/if}}
                  {{#if mail}}
                  <div class="alert alert-danger">Email has taken already try new</div>
                  {{/if}} 
                  {{#if errors}}
                  {{#each errors}}
                  <div class="alert alert-danger">{{msg}}</div>
                  {{/each}}
                  {{/if}}
                  <form class="form-signin" method="POST" action="register">
                     <div class="form-label-group">
                        <input type="text" id="inputUserame" class="form-control" placeholder="Username" name="username"  autofocus>
                        <label for="inputUserame">Username</label>
                     </div>
                     <div class="form-label-group">
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" name="email" >
                        <label for="inputEmail">Email address</label>
                     </div>
                     <hr>
                     <div class="form-label-group">
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" >
                        <label for="inputPassword">Password</label>
                     </div>
                     
                     <div class="form-label-group">
                        <input type="password" id="inputConfirmPassword" class="form-control" placeholder="Password" name="confirmpassword" >
                        <label for="inputConfirmPassword">Confirm password</label>
                     </div>
                     <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Register</button>
                     <a class="d-block text-center mt-2 small" href="/login" >Sign In</a>
                     <hr class="my-4">
                     <a href="http://twitter.com" target="_blank" class="btn btn-lg btn-twitter btn-block text-uppercase" ><i class="fa fa-twitter mr-2"></i> Follow Us On Twitter </a>
                     <a href="https://www.pinterest.com/" target="_blank" class="btn btn-lg btn-pinterest btn-block text-uppercase"><i class="fa fa-pinterest mr-2"></i>Follow us on Pintrest</a>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>
</body>