<div class="container-fluid" style="padding-left: 5%; padding-right:5%">
   <h3>Safe and Secure Shopping</h3>
   <ul style="list-style: none">
      <li>
         <h6 class="cd-faq-trigger">Is it safe to use my credit/debit card on MyFashion?</h6>
         <div class="cd-faq-content">
            <p> Your online transaction on MyFashion is secure with the highest levels of transaction security
               currently available on the Internet. MyFashion uses 256-bit encryption technology to protect your
               card information while securely transmitting it to the respective banks for payment processing. All
               credit card and debit card payments on MyFashion are processed through secure and trusted payment
               gateways managed by leading banks. Banks now use the 3D Secure password service for online
               transactions, providing an additional layer of security through identity verification.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Does MyFashion store my credit/debit card infomation?</h6>
         <div class="cd-faq-content">
            <p>MyFashion stores the first 6 and last 4 digits of your card number in a secure and encrypted manner.
               The first 6 digits (also known as the Bank Identification Number) are used to identify the bank
               name and country where your card was issued. The first 6 and last 4 digits are together used for
               fraud detection and prevention purposes.
            </p>
         </div>
      </li>
      <p>
      <h3>Payment Options</h3>
      </p>
      <li>
         <h6 class="cd-faq-trigger">What credit/debit cards are accepted on MyFashion?</h6>
         <div class="cd-faq-content">
            <p>
               We accept VISA, MasterCard, Maestro, Rupay, American Express, Diner's Club and Discover credit/debit cards.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Do you accept payment made by credit/debit cards issued in other countries?</h6>
         <div class="cd-faq-content">
            <p>Yes! We accept VISA, MasterCard, Maestro, American Express credit/debit cards issued by banks in India and in the following countries: Australia, Austria, Belgium, Canada, Cyprus, Denmark, Finland, France, Germany, Ireland, Italy, Luxembourg, the Netherlands, New Zealand, Norway, Portugal, Singapore, Spain, Sweden, the UK and the US. Please note that we do not accept internationally issued credit/debit cards for eGV payments/top-ups
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">What other payment options are available on MyFashion?</h6>
         <div class="cd-faq-content">
            <p>
               Apart from Credit and Debit Cards, we accept payments by Internet Banking (covering 44 banks), Cash-on-Delivery, Equated Monthly Installments (EMI), E-Gift Vouchers, PhonePe UPI and PhonePe wallet.
            </p>
         </div>
      </li>
      <li>
         <h6 class="cd-faq-trigger">Privacy Policy</h6>
         <div class="cd-faq-content">
            <p>
               MyFashion.com respects your privacy and is committed to protecting it. For more details, please see our <a href="privacy.html">Privacy Policy</a>
            </p>
         </div>
      </li>
   </ul>
</div>